*{
    margin: 0;
    padding: 0;
}
.header{
    width: 360px;
    height: 55px;
    background-color: #353535;
}
.header-btn{
    width:360px ;
    height: 30px;
    background-color: #808080;
    color:white;
    align-items: center;
    text-align: center;

}
